<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" inputmode="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-button expand="block" routerLink="/home">Login</ion-button>
  <a routerLink="/signup">Not a member? Sign-up</a>
</ion-content>
