<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" inputmode="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="login()">Login</ion-button>
  <p>
    <ion-text color="danger"><i>{{error}}</i></ion-text>
  </p>
</ion-content>
